
<div class="card text-bg-light mb-3" style="max-width: 18rem; height: 14rem">
  <div class="card-header"><h2>🚈 <%= station.name %></h2></div>
    <%= image_tag station.image_url, style: "width: 219px; height: 160px;" %>
</div>
