<div class="footer fixed-bottom">


  <div class="footer-icons">
      <a href="/"><i class="fa-solid fa-house"></i></a>
  </div>

    <div class="footer-icons">
      <i class="fa-solid fa-clock"></i>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-globe"></i>
    </div>

    <div class="footer-icons">
       <a href="/info"><i class="fa-solid fa-circle-info"></i>
    </div>

    <div class="footer-icons">
       <a href="/tickets"><i class="fa-solid fa-ticket"></i>
    </div>
</div>
