<div class="footer fixed-bottom">
    <div class="footer-icons">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <p>Home</p>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-clock"></i>
      <p>Schedule</p>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-globe"></i>
      <p>Map</p>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-circle-info"></i>
      <p>Info</p>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-ticket"></i>
      <p>Ticket</p>
    </div>
</div>
