<div class="footer fixed-bottom">
    <div class="footer-icons">
      <a href="/"><i class="fa-solid fa-house f-img-icon "></i></a>

    </div>

    <div class="footer-icons">
      <a href="/info"><i class="fa-solid fa-clock f-img-icon "></i></a>

    </div>

    <div class="footer-icons">
      <%= image_tag "logo.JPG", :class => "icon-image"%>
    </div>


    <div class="footer-icons">
       <a href="/tickets"><i class="fa-solid fa-ticket f-img-icon "></i></a>

    </div>

    <div class="footer-icons">
      <a href="/profile"><i class="fa-solid fa-user f-img-icon "></i></a>


    </div>
</div>
