<div class="footer fixed-bottom">
    <div class="footer-icons">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <p>Home</p>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-clock"></i>
      <p>Schedule</p>
    </div>

    <div class="footer-icons">
      <%= image_tag "logo.JPG", :class => "icon-image"%>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-ticket"></i>
      <p>Ticket</p>
    </div>

    <div class="footer-icons">
      <i class="fa-solid fa-user"></i>
      <p>Profile</p>
    </div>
</div>
