<div class="footer fixed-bottom">
    <div class="footer-icons">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <p>Home</p>
    </div>

    <div class="footer-icons">
      <a href="/info"><i class="fa-solid fa-clock"></i></a>
      <p>Schedule</p>
    </div>

    <div class="footer-icons">
      <%= image_tag "dodo.png", :class => "icon-image"%>
      <p><strong>DodoKart</strong><p>
    </div>


    <div class="footer-icons">
      <a href="/tickets"><i class="fa-solid fa-ticket"></i></a>
      <p>Tickets</p>
    </div>

    <div class="footer-icons">
      <a href="/profile"><i class="fa-solid fa-user"></i></a>
      <p>Profile</p>

    </div>
</div>
