<div class="center">
<h2>Welcome on</h2>
<br>
<h2><strong>DodoKart !</strong></h2>
<br>
<div class="avatar">  <%= image_tag asset_path('The_Dodo_Logo.jpg')%> </div>
<br>
<p>Start your connected journey here !</p>
</div>
