<h1> information </h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title"> Metro Timeline</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="6:30am - 7:00pm">
                                <h3>Port Louis Victoria Central</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed  </p>
                            </li>
                            <li class="event" data-date="7:30am - 8:00pm">
                                <h3>Quatre Bornes Central </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                            </li>
                            <li class="event" data-date="8:00am - 9:00pm">
                                <h3>Trianon Station</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                            </li>
                            <li class="event" data-date="8:30am - 10:30pm">
                                <h3>Rose-Hill Central</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
