


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <%# <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> %>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <h1> information </h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title"> Metro Timeline</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Port Louis Victoria Central</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>St-Louis Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Coromandel Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Barkly Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Beau Bassin Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Vandermeersch Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Rose-Hill Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Belle Rose Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Quatres Bornes Central</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>St Jean Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Trianon Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Phoenix Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Phoenix Mall Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Palmerston Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Vacoas Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Sadally Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Floreal Station</h3>
                                <p>Metro is the future</p>
                            </li>
                            <li class="event" data-date="6:00am - 7:00pm">
                                <h3>Curepipe Station</h3>
                                <p>Metro is the future</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <div class="carousel-item ">
      <img class="img-edit" alt="annonces" src= <%=asset_path("annonces.JPG") %>>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
