
<div class="container p-5 my-5 bg-light text-white">
  <% @itineraries.each do |itinerary|  %>
    <ol>
      <%= link_to itinerary_path(itinerary) do %>
      <%= "#{itinerary.origin} to #{itinerary.destination}" %>
      <% end %>
    </ol>
  <% end %>
</div>
