
<div class="container p-5 my-5 bg-light text-white">
  <% @itineraries.each do |itinerary|  %>
    <ol>
    <%= link_to itinerary.origin, itinerary_path(itinerary) %>
    <%= link_to itinerary.destination, itinerary_path(itinerary) %>
    </ol>
  <% end %>
</div>
