<h1>Profile</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
           <div class="profile-card-4 z-depth-3">
            <div class="card">
              <div class="card-body text-center bg-info rounded-top">
                <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                <h5 class="mb-1 p-1 text-white">Jhon Smith</h5>
            </div>

            <div class="card-body">
            <ul class="list-group shadow-none">
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-phone-square"></i>
                  </div>
                  <div class="list-details">
                  <small>Mobile Number:</small>
                    <span>59152686</span>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="list-details">
                    <small>Email Address:</small>
                    <span>JhonSmith@example.com</span>
                  </div>
                </li>
              </ul>
            </div>


              <img class="credit-card" alt="credit-card" src= <%=asset_path("creditcard.png") %>>

                <div class="container text-center p-2">
                <a href="/tickets" class="link-primary">Travelling History</a>
                </div>

                <div class="row text-center mt-4">
                  <div class="col p-2">
                   <h4 class="mb-1 line-height-5">10</h4>
                    <small class="mb-0 font-weight-bold">Travel</small>
                   </div>
                    <div class="col p-2">
                      <h4 class="mb-1 line-height-5">30 km</h4>
                     <small class="mb-0 font-weight-bold">Distance</small>
                    </div>
                    <div class="col p-2">
                     <h4 class="mb-1 line-height-5">9.1k</h4>
                     <small class="mb-0 font-weight-bold">Carbon Footprint</small>
                    </div>
        </div>
  </div>
</div>
