<div class="container">
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 Congartulations <br> you have successfully bought a ticket</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

    <h1>Qr code</h1>

    <div class="card">
      <%= image_tag "https://pngimg.com/uploads/qr_code/qr_code_PNG25.png", style: "width: 100%;" %>

      <%# <div class="modal-footer-centered">
        <a href=<img src="download.gif" download>
        </a>
      </div> %>
      <%# <div class="btn">
          <button type="button" class="btn btn-primary">Open Map</button>
      </div> %>
    </div>
    <div class="btn">
      <button type="button" class="btn btn-primary">Download</button>
    </div>
</div>
