.alert {
 display: flex;
 background: white;
 box-shadow: 0 0 8px rgba(0,0,0,0.2);
 border-radius: 4px;
 margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.ticket h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 25px;
}

.btn-search {
  width: 100%;
}

.destination {

  padding: 16px 24px;

}


.ticket {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 10px;
  background: #FBFBFB;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 5px;
    height: 6px;
    width: 290px;
  }

  &:before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -8px / 16px 16px repeat-x,
  }

  &:after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -2px / 16px 16px repeat-x,
  }
}

.ticket__content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 6px solid #f4e79b;
}

.img_qr {
  width: 200px;
  margin-left: 70px;
  padding: 10px;
  // background-color: white;
}

.btn-radius {
  border-radius: 10px;
}
