.footer {
  display: flex;
  justify-content: space-around;
  background: lightgrey;
<<<<<<< HEAD
  height: 50px;
=======
  height: 60px;
>>>>>>> ddfe268987009400de0163774bc33e46e647eac3
  align-items: center;
  margin-top: 20px;
}

.footer-icons {
<<<<<<< HEAD
  color: #626161;
  margin-bottom: auto;
  margin: auto;
  text-align: center;
=======
  color: rgb(20, 30, 142);
>>>>>>> ddfe268987009400de0163774bc33e46e647eac3
}

p {
  font-size: x-small;
}

// .fa-house {
//   padding-right: 15px;
// }

// .fa-globe {
//   padding-right: 17px;
// }

// .fa-ticket {
//   padding-left: 5px;
// }

// .fa-clock {
//   padding-left: 12px;
// }
