.footer {
  display: flex;
  justify-content: space-around;
  background: lightgrey;
  align-items: center;
  margin-top: 15px;
}

.footer-icons {
  color: #626161;
  margin-bottom: auto;
  margin: auto;
  text-align: center;
}

p {
  font-size:small;
}

.icon-image {
  width: 50px;
  height: 50px;
  margin: auto;
}

.f-img-icon {
  font-size: 24px;
}

// .fa-house {
//   padding-right: 15px;
// }

// .fa-globe {
//   padding-right: 17px;
// }

// .fa-ticket {
//   padding-left: 5px;
// }

// .fa-clock {
//   padding-left: 12px;
// }
