.footer {
  display: flex;
  justify-content: space-around;
  background: lightgrey;
  height: 50px;
  align-items: center;
  margin-top: 20px;
}

.footer-icons {
  color: #626161;
  margin-bottom: auto;
  margin: auto;
  text-align: center;
}

p {
  font-size: x-small;
}

// .fa-house {
//   padding-right: 15px;
// }

// .fa-globe {
//   padding-right: 17px;
// }

// .fa-ticket {
//   padding-left: 5px;
// }

// .fa-clock {
//   padding-left: 12px;
// }
